/**
 * HTML elements
 *
 * Following rules apply to basic HTML elements with no other identifier to determine
 * whether or not element matches rule.
 */

html {
    font-family: sans-serif;
    font-size: 100%;
    color: black;
}

body {
    width: 1000px;
    min-width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 1em;
    line-height: 1.25em;
}

code {
    padding: 1px;
    background-color: white;
}

a {
    color: rgb(0, 112, 236);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/**
 * Colors
 *
 * HTML classes that allow organization and other specific colors to be specified.
 * SprayFire provided colors are always provided in RGB format.
 */
.sprayfire-orange { color: rgb(240, 141, 51); }
.sprayfire-red { color: rgb(187, 49, 39); }
.doc-brown { color: rgb(139, 69, 19); }
.facebook-blue { color: rgb(59, 89, 152); }
.twitter-blue { color: rgb(22, 154, 232); }
.google-plus-red { color: rgb(159, 28, 28); }
.github-gray { color: rgb(57, 57, 57); }
.untappd-yellow { color: rgb(229, 161, 9); }
.pinterest-red { color: rgb(231, 79, 96); }


/**
 * Default template layout
 *
 */

#content {
    width: 95%;
    margin: 0 auto;
}

#header {
    margin-bottom: .5em;
    overflow: auto;
}

#sprayfire-logo {
    margin-right: .75em;
}

#main-header h1 {
    float: left;
    margin: 0;
}

#body {
    padding: 5px;
    border: 2px solid rgb(187, 49, 39);
    border-radius: 4px;
    -moz-border-radius: 4px;
    overflow: auto;
    clear: both;
}

#footer {
    margin-top: .5em;
}

#main-content {
    width: 100%;
}

/**
 *
 */

#welcome-panels {
    width: 95%;
    margin: 0 auto;
    overflow: auto;
}

#welcome-panels > .welcome-panel:first-child { margin-left: 0; }
#welcome-panels > .welcome-panel:last-child { margin-right: 0; }

.welcome-panel {
    width: 45%;
    padding: .5em;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

.welcome-panel a {
    font-size: 20px;
}

.welcome-panel i {
    margin-right: .1em;
    font-size: 24px;
}

.welcome-panel > div {
    text-align: center;
}



.welcome-panel > .summary {
    margin-top: .5em;
    font-size: 18px;
}

#the-team {
    padding: 5px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    overflow: auto;
    clear: both;
}

#the-team h2 {
    margin-bottom: .5em;
    border-bottom: 3px solid rgb(240, 141, 51);
}

#the-team > .team-member {
    overflow: auto;
    margin-bottom: 1em;
    float: left;
    width: 48%;
    margin-left: 1em;
}

#the-team > .team-member .bio {
    overflow: auto;
}

#the-team > .team-member .social-networking {
    margin-top: .5em;
    overflow: auto;
    height: 34px;
    font-size: 32px;
    clear: both;
}

#the-team > .team-member .social-networking a {
    margin-right: .1em;
}

#the-team > .team-member .social-networking a:hover {
    text-decoration: none;
}

#the-team > .team-member img {
    float: left;
    margin-right: .5em;
}

#the-team > .team-member ul {
    list-style: none;
    margin: 0;
}

#the-team > .team-member li {
    margin-bottom: .5em;
}

/**
 * Vendor CSS overrides
 *
 *
 */

.icon > a, .icon > a:hover {
    text-decoration: none;
}
